<?php
$botToken = '';
$apiURL = "https://api.telegram.org/bot$botToken/";
$botdomain = '';

$allowedUsers = [1088532278, 987654321];

$botDbHost = 'localhost';
$botDbUser = 'root';
$botDbPass = '';
$botDbName = 'marzhelp';

$vpnDbHost = ''; 
// If you install the robot on an external host or server
# $vpnDbPort = 3306; 
$vpnDbUser = 'root';
$vpnDbPass = '';
$vpnDbName = 'marzban';

// Marzban Panel Configuration
$marzbanUrl = 'https://your-marzban-server.com'; 
$marzbanAdminUsername = 'your_admin_username';  
$marzbanAdminPassword = 'your_admin_password';  
?>